/*
https://github.com/papay-iskola/.github-private/issues/13#issuecomment-1356832015
az alap szöveg legyen nagyon fehér
*/

body {
    color: #dddddd;
}

/* a11y */
a {
    color: #F5ADCE;
}


/* Don't capitalize!!! */
.note .excerpt h3 {
    text-transform: none;
}

.post-block .content h3 {
    text-transform: none;
}

.hero-area .block h1 {
    text-transform: none;
}

.title h2 {
    text-transform: none;
}

.fixed-height-img {
    height: 120px;
}

.navbar-brand {
    font-family: quattrocento sans,sans-serif;
    font-weight: 700;
}

.post-block {
    height: 100%;
}

.table-active {
    background-color: #333;
}

.alapitvany-event {
    background-color: #1b3340 !important;
}

/* a11y */
.btn-main {
    color: #242424
}