/* Don't capitalize!!! */
.note .excerpt h3 {
    text-transform: none;
}

.post-block .content h3 {
    text-transform: none;
}

.hero-area .block h1 {
    text-transform: none;
}

.title h2 {
    text-transform: none;
}

.fixed-height-img {
    height: 120px;
}

.navbar-brand {
    font-family: quattrocento sans,sans-serif;
    font-weight: 700;
}