<article class="col-lg-4 col-md-6 col-12 clearfix wow fadeInUp mb-4" data-wow-duration="500ms">
  <div class="post-block">
    <div class="media-wrapper">    
      {{ if eq (.Resources.Match "borito.png" | len) 1 }}
        {{ with .Resources.GetMatch "borito.png" }}
          <img class="img-fluid lozad" data-src="{{ .RelPermalink }}" alt="blog-image">          
        {{ end }}
      {{ else }}        
        {{ if .Params.Image }}
          <img class="img-fluid lozad" data-src="{{ .Params.Image | absURL }}" alt="blog-image">          
        {{ end }}
      {{ end}}
    </div>

    <div class="content">
      <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
      <p>{{ .Summary }}</p>
      <a class="btn btn-transparent" href="{{ .Permalink }}">{{ i18n "readMore" }}</a>
    </div>
  </div>
</article>
