{{ define "main" }}

{{ partial "navigation.html" . }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <h1>{{ .Title }}</h1>
        <div class="mb-50">
          <ul class="list-inline">
            {{ if .Params.Author }}
              <li class="list-inline-item"><a href="{{ `author/` | relLangURL }}{{ .Params.Author | urlize }}/">{{ .Params.Author }}</a></li>
            {{ end }}
            {{ if .Date }}
              <li class="list-inline-item">{{ dateFormat "2006. 01. 06. Monday" .Date }}</li>            
            {{ end }}
          </ul>
          <ul class="list-inline">
          {{ if .Params.tags }}
            {{ range .Params.tags }}
            <li class="list-inline-item"><a href="/tags/{{ . | urlize }}">#{{ . }}</a></li>
            {{ end }}
          {{ end }}
          </ul>
        </div>
        
        {{ if eq (.Resources.Match "borito.png" | len) 1 }}
          {{ with .Resources.GetMatch "borito.png" }}
            <img class="img-fluid mb-50 lozad" data-src="{{ .RelPermalink }}" alt="blog-image">          
          {{ end }}
        {{ else }}        
          {{ if .Params.Image }}
            <img class="img-fluid mb-50 lozad" data-src="{{ .Params.Image | absURL }}" alt="blog-image">          
          {{ end }}
        {{ end}}
        
      </div>
      <div class="col-lg-8 offset-lg-2">
        <div class="post-single-content">
          {{ .Content }}
        </div>
        {{ if site.Params.post_share }}
        {{ partial "post-share.html" . }}
        {{ end }}
        <!-- comments -->
        <div class="mt-5">
          {{ template "_internal/disqus.html" . }}
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
