{{/*  the landing page with partials */}}
{{ define "main" }}
    {{ partial "navigation.html" . }}
    {{ partial "banner.html" . }}
    {{ partial "iskolarol.html" . }}

    {{ .Scratch.Set "dataName" "tanevrol" }}
    {{ partial "csempek.html" . }}


    {{ .Scratch.Set "dataName" "dokumentumok" }}
    {{ partial "arnyekcsempek.html" . }}

    {{ .Scratch.Set "dataName" "szakmai-programok" }}
    {{ partial "csempek.html" . }}

    {{ partial "hirek.html" . }}

    {{ .Scratch.Set "dataName" "kapcsolatok" }}
    {{ partial "csempek.html" . }}

{{ end }}