{{/*  the landing page with partials */}}
{{ define "main" }}
    {{/*  {{ partial "language.html" . }}  */}}
    {{ partial "banner.html" . }}
    {{ partial "navigation.html" . }}
    {{ partial "iskolarol.html" . }}

    {{ .Scratch.Set "dataName" "tanevrol" }}
    {{ partial "csempek.html" . }}


    {{ .Scratch.Set "dataName" "dokumentumok" }}
    {{ partial "arnyekcsempek.html" . }}

    {{ .Scratch.Set "dataName" "szakmai-program" }}
    {{ partial "csempek.html" . }}

    {{ partial "hirek.html" . }}

    {{ .Scratch.Set "dataName" "kapcsolatok" }}
    {{ partial "csempek.html" . }}

{{ end }}